In [1]:
import pandas as pd

In [14]:
topics = pd.read_csv("data/topic-terms.csv")
documents = pd.read_csv("data/doc-topics.csv")

In [18]:
topics.head()

   topic       term    weight
0      0       zoom  0.051151
1      0    lecture  0.073143
2      0        ess  0.019603
3      0      watch  0.021559
4      0  recording  0.017110

In [15]:
documents.head()

            docname  topic  proportion
0    minidata.txt:1      7         1.0
1   minidata.txt:36      1         1.0
2   minidata.txt:71      1         1.0
3  minidata.txt:106      1         1.0
4  minidata.txt:141      2         1.0

In [17]:
documents_filtered = documents[documents['proportion'] > 0.75]
documents_filtered.shape

(295, 3)

In [33]:
topics[topics['topic'] == 9]['term'].values

array(['hour', 'office', 'today', 'find', 'instructor'], dtype=object)

In [39]:
topic_dict = {"topic": [0,1,2,3,4,5,6,7,8,9],
              "keyword": ['Online Communication', "Programming", "Racket", 'Virtual Classroom', 'Assignments', 'Labs', 'Online Learning Platforms', 'Academics', 'Data Types', 'Academic Support']}
topic_dict = pd.DataFrame(topic_dict)
topic_dict

   topic                    keyword
0      0       Online Communication
1      1                Programming
2      2                     Racket
3      3          Virtual Classroom
4      4                Assignments
5      5                       Labs
6      6  Online Learning Platforms
7      7                  Academics
8      8                 Data Types
9      9           Academic Support

In [40]:
keyword_counts = {"keyword": [],
                  "count": []}
for i in range(10):
    keyword_counts['keyword'].append(topic_dict['keyword'][i])
    keyword_counts['count'].append(len(documents_filtered[documents_filtered['topic'] == i]))

In [42]:
pd.DataFrame(keyword_counts)

                     keyword  count
0       Online Communication     56
1                Programming     81
2                     Racket     37
3          Virtual Classroom     20
4                Assignments     26
5                       Labs     21
6  Online Learning Platforms     27
7                  Academics     10
8                 Data Types     11
9           Academic Support      6